.first div{
    height: 200px;
   width: 200px;    
}
img{
    height: 80px;
    margin-left: 648px;
    width: 80px;
    margin-top: 40px;

}
.ptext h1{
   margin-top: 30px;
}
.p{
    display: inline;
    margin-right:60px;  
}